#new-article-header{
  margin: auto;
  width: 50%;
  text-align: center;
  padding-bottom: 5%;
}

.form-horizontal{
  margin: 0 10% 0 20%;
}

.col-xs-offset-2{
  margin-left: 32.5vw;
  width: 34.5vw;
  padding: 0;

}