#new-article-header{
  margin: auto;
  width: 50%;
  text-align: center;
  padding-bottom: 5%;
}
#article-body{
  padding: 10px;
}

#add-comment-header{
  padding: 10px 0 10px;
}

#article-form{
  margin: 0 10vw 0 20vw;
}

#comment-section-body{
  padding-left: 20px;
  padding-right: 20px;
}

.col-xs-offset-2{
  margin-left: 32.5vw;
  width: 34.5vw;
  padding: 0;
}


#edit-article-header{
  text-align: center;
}

#comment-form-name, #comment-form-body {
  width: 100%;
}

#comment-form-submit{
  width: 100%;
  margin: auto;
  text-align: center;
}