// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn-primary{
  background-color: #333333;
  border-color: white;
}

.btn-primary:hover{
  background-color: white;
  color: black;
}